body {
  margin: 0;
  padding: 0;
}
.Btn-free-trial {
        width: 227px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        background-color: #4F9CF9;

        .btn2 {
          font-family: Inter;
          font-weight: 500;
          font-size: 18px;
          line-height: 23px;
          letter-spacing: -2%;
          color: #FFFFFF;
        }

        .icon {
          width: 14px;
          height: 14px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
          }
        }
}
header {
  width: 1920px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 220px;
  background-color: #043873;
  box-sizing: border-box;

  .logo {
    width: 191px;
    height: 34px;
    justify-content: space-between;
  }

  .navbar {
    width: 988.5px;
    min-height: 60px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

    .Nav-menu {
      width: 551.5px;
      height: 24px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 32px;

      .products,
      .Solutions,
      .Resources,
      .Pricing {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 24px;

        .products-text {
          font-family: 'DM Sans', sans-serif;
          font-weight: 500;
          font-size: 18px;
          line-height: 23px;
          color: #ffffff;
          white-space: nowrap;
        }

        .down-arrow {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 29px;
          height: 24px;

          img {
            width: 9px;
            height: 4px;
          }
        }
      }

      .products { width: 117px; }
      .Solutions { width: 118px; }
      .Resources { width: 128px; }
      .Pricing { width: 97px; }
    }

    .Btn {
      width: fit-content;
      height: fit-content;
      gap: 24px;
      display: flex;
      flex-direction: row;

      .Btn-login {
        width: 126px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: #FFE492;

        .btn1 {
          font-family: Inter;
          font-weight: 500;
          font-size: 18px;
          line-height: 23px;
          letter-spacing: -2%;
          color: #043873;
        }
      }
      .Btn-free-trial{
        .btn2{
            .icon{
                width:10px;
                height: 10px;
                img{
                    width:10px;
                    height:10px;
                    object-fit: contain;
                }
            }
        }
      }
    }
  }
}
section{
    width:1920px;
    position:relative;
    padding: 140px 220px;
    box-sizing: border-box;
    overflow:hidden;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.Content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
    z-index:1;
}
.Heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.Text-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.Part1{
    width:100%;
    height:87px;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    letter-spacing: -0.02em;
    z-index: 0;
    img{
        position: absolute;
        z-index: -1;
    }
}
.Part2{
    width:100%;
    height:60px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -2%;
}
.hero-image {
    background-color: #C4DEFD;
}
.hero {
  height: 829px;
  background-color: #043873;
  color: #FFFFFF;
  .hero-bg {
    position: absolute;
    width: 2651.8px;
    height: 547px;
    opacity: 0.3;
    top: 25%;
    left: 69%;
    transform: translateX(-50%);
    z-index: 0;
  }
  .Content {
    height: 100%;
    .Heading {
      width: 656px;
      height: 361px;
      gap:60px;
      .Text-block {
        height: 238px;
        gap: 24px;
        .Part1 {
            font-size: 64px;
            line-height: 100%;
            letter-spacing: -2%;
            height: 154px;
        }
        
      }
        .Btn-free-trial {
          width: 219px;
          height: 63px;

        }
    }
    .hero-image {
    width: 824px;
    height: 549px;
   }
  }

}
.project-management{
    height: 1588px;
    gap: 100px;
    display: flex;
    flex-direction: column;
    color: #212529;
    position: relative;
    overflow: hidden;
    .work-bg{
        position: absolute;
        width:602.84px;
        height:448.52px;
        opacity: 0.2;
        top:260px;
        left:-2px;
        z-index: -1;
    }
    .Content{
        height:547px;
        gap: 60px;
        .Heading{
            width: 672px;
            height:411px;
            gap:60px;
            .Text-block{
                height:288px;
                gap:24px;
                    .Part1{
                        height:174px;
                            img{
                                left: 0;
                                bottom: -6px;
                                width: 95%;
                            }
                    }
                    .Part2{
                        height:90px;
                        font-size: 18px;
                        color: #212529;
                    }
            }
            .Btn-free-trial{
            width:201px;
            height:63px;
        }
        }
        .hero-image{
            width: 748px;
            height: 547px;
        }
    }

    .Content1{
        display: flex;
        height:661px;
        align-items: center;
        gap: 100px;
        img{
           object-fit: contain;
           overflow: hidden;
        }
        .Heading{
            height:294px;
            width:670px;
            gap:60px;
            .Text-block{
                height:171px;
                gap:24px;
                .Part1{
                    height:87px;
                    img{
                        right:70px;
                        bottom: 5px;
                        width: 60%;
                    }    
                }
                .Part2{
                    height:60px;
                    font-size: 18px;
                }
            }
            .Btn-free-trial{
            width:186px;
            height:63px;
                .icon img{
                width:14px;
                height:14px;
                }
            }
        }
    }
    
}
.Extention{
    height:759px;
    background-color: #043873;
    gap:98px;
    color: #ffffff;
    .Heading{
        height:294px;
        width:697px;
        gap:60px;
        .Text-block{
            height:171px;
            gap:24px;
            .Part1{
                img{
                    left:35%;
                    width:70%;
                    bottom: 5%;
                }
            }
        }
        .Btn-free-trial{
            width:171px;
            height:63px;
        }
        }
        .hero-image{
            width:686px;
            height:479px;
        }
}
.Customize{
    height:812.09px;
    gap:98px;
    .Heading{
        height:441px;
        width:669px;
        gap:60px;
        .Text-block{
            height:288px;
            gap:24px;
            .Part1{
                height:174px;
                font-size: 75px;
                color: #000;
                img{
                    bottom:0%;
                    left:0%;
                    }
            }
            .Part2{
                height:90px; 
                font-size: 18px;
            }
        }
        .Btn-free-trial{
            width:171px;
            height:63px;
        }
    }
    .hero-image{
        width:714px;
        height:532.09px;
    }
}
.pricingplan{
    height:1272px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    .Text-block{
        width:1481px;
        height:171px;
        gap: 24px;
        align-items: center;
        .Part1{
            height:87px;
            text-align: center;
            img{
                left:48%;
                bottom:0%;
                width:30%;
            }
        }
        .Part2{
        text-align: center;
        width:979px;
        height:60px;
        }
    }

    .plan {
  width: 1481px;
  display: flex;
  align-items: center;
  gap: 32px;

  .plan1,
  .plan2 {
    width: 472.33px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 25px;
  }

  .price {
    width: 384.33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;

    .type {
      font-family: Inter;
      font-weight: 600;
      font-size: 24px;
    }

    .type2 {
      font-family: Inter;
      font-weight: 700;
      font-size: 36px;
      letter-spacing: -2%;
    }

    .type3 {
      font-family: Inter;
      font-weight: 500;
      font-size: 18px;
      letter-spacing: -2%;
    }
  }

  .featurelist {
    display: flex;
    flex-direction: column;
    gap: 28px;

    .feature {
      width: 384.33px;
      display: flex;
      align-items: center;
      gap: 19px;

      .type4 {
        font-family: Inter;
        font-size: 16px;
        letter-spacing: -2%;
      }
    }
  }

  .Btn-free-trial {
    width: 166px;
    height: 51px;
  }

  .plan1 {
    height: 634px;
    padding: 40px 44px;
    border: 1px solid #FFE492;

    .type,
    .type2,
    .type3 {
      color: #212529;
    }

    .type4 {
      font-weight: 400;
      line-height: 20px;
      color: #212529;
    }

    .Btn-free-trial{
      background-color: #FFFFFF;
      border: 1px solid #FFE492;

      .btn2 {
        color: #000;
      }
    }
  }

  .plan2 {
    height: 761px;
    padding: 80px 44px;
    background-color: #043873;
    box-shadow: 0px 4px 50px 0px #00000014;

    .type {
      color: #FFFFFF;
    }

    .type2 {
      color: #FFE492;
    }

    .type3 {
      color: #FFFFFF;
    }

    .featurelist {
      height: 347px;
    }

    .type4 {
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      color: #FFFFFF;
    }

    .Btn-free-trial3 {
      background-color: #4F9CF9;

      .btn2 {
        color: #FFFFFF;
      }
    }
  }
}


}
.tiltbox{
    position: relative;
    z-index: 0;
    width:1921px;
    height:574px;
    .Group{
        z-index: 1;
        position:absolute;
        top:-180px;
        opacity: 0.3;
    }
.your-work{
    position:absolute;
    height:574px;
    justify-content: center;
    background-color: #043873;
    
    .Heading{
        height:294px;
        width:1481px;
        align-items: center;
        gap:60px;
        color: #FFFFFF;
        .Text-block{
            width:1064px;
            height:171px;
            align-items: center;
            gap: 24px;
            .Part1{
                height:87px;
                text-align: center;
                img{
                    right:-2%;
                    width:30%;
                    bottom:10%;
                }
            }
            .Part2{
                height: 60px;
                font-size: 18px;
                text-align: center;
            }
            
        }
        .Btn-free-trial{
            width: 195px;
            height: 63px;
        }
    }
}
}
.Your-data{
    height:661.13px;
    box-sizing: border-box;
    .Heading{
        height:324px;
        width:800px;
        gap:60px;
        .Text-block{
            height:201px;
            gap:24px;
            .Part1{
                img{
                    left:24%;
                    width:70%;
                    bottom: -13%;
                    height: 100%;
                }
            }
            .Part2{
                height:90px;
            }            
        }
        .Btn-free-trial{
            width:197px;
            height:63px;
        }
    }
    .image img{
        width:681px;
        height:381.13px;
        object-fit: contain;
    }
}
.Our-sponsors{
    height:538px;
    gap:100px;
    flex-direction: column;
    .Part1{
        width:1482px;
        height:87px;
        text-align: center;
        color: #000;
        img{
            left:45%;
            height:100%;
            bottom:-7%;
            width:25%;
        }
    }
    .Logos{
        width:1482px;
        height:71px;
        display: flex;
        justify-content: space-between;
    }
}
.favoriteApps{
    height:750.8px;
    gap:100px;
    background-color: #043873;
    z-index:-1;
    .bgimage {
    position: absolute;
    inset: 0;
    z-index: 0;
    opacity: 70%;
        img {
        width:1920px;
        height: 700.4px;
        position: absolute;
        top: 10px;
        object-fit: contain;
        }
    }
    .image img{
        height:470.8px;
        width:582px;
        object-fit: contain;
    }
    .Heading{
        width:798px;
        height:468px;
        gap:60px;
        color: #ffffff;
        .Text-block{
            height:345px;
            gap:24px;
            .Part1{
                height:261px;
                font-size: 76px;
                line-height: 88px;
            }
            .Part2{
            font-size: 18px;
            } 
        }
        .Btn-free-trial{
            width:194px;
            height:63px;
        }
    }
}
.Testimonial{
    height: 994.46px;
    gap:60px;
    flex-direction: column;
    .Heading{
        width:1479px; 
        display: flex; 
        align-items: center;
        justify-content: center;
        .Part1{
            height:87px;
            font-size: 70px;
            line-height: 84px;
            letter-spacing: 0%;
            text-align: center;
            color: #000;
            img{
            left:62%;
            height:100%;
            bottom:15%;
            width:22%;
            }
        }
    }
    .Cards {
  width: 1479px;
  height: 498.46px;
  display: flex;
  gap: 32px;

  .card,
  .card2,
  .card3 {
    width: 471.67px;
    height: 498.46px;
    padding: 60px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 60px;
    background: #ffffff;

    .part1 {
      width: 391.67px;
      height: 223.46px;
      padding-bottom: 40px;
      display: flex;
      flex-direction: column;
      gap: 32px;
      border-bottom: 1px solid #212529;

      .quote img {
        width: 86px;
        height: 61.46px;
        object-fit: contain;
      }

      .text {
        font-family: Inter;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.02em;
        color: #212529;
      }
    }

    .part2 {
      display: flex;
      align-items: center;
      gap: 42px;

      .photo {
        width: 95px;
        height: 95px;

        img {
          width: 95px;
          height: 95px;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .name {
          font-family: Inter;
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
          color: #212529;
        }

        .des {
          font-family: Inter;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: -0.02em;
          color: #212529;
        }
      }
    }
  }

  .card {
    box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
  }

  .card2,
  .card3 {
    background: #4f9cf9;
    box-shadow: none;

    .part1 {
      border-bottom: 1px solid #ffffff;

      .text {
        color: #ffffff;
      }

      .quote img {
        filter: brightness(0) invert(1);
      }
    }

    .part2 {
      .info {
        .name,
        .des {
          color: #ffffff;
        }
      }
    }
  }
}
.dots{
    width:60px;
    height:12px;
    img{
        width:60px;
        height:12px;
        object-fit: contain;
    }
}
}
.Free-trial{
    height:705px;
    gap:200px;
    padding: 140px 220px 32px 220px;
    background-color: #043873;
    flex-direction: column;
    color:#FFFFFF;
    .Heading{
        width:608px;
        height:533px;
        align-items: center;
        gap:40px;
        .Text-block{
            height:262px;
            gap:24px;
            align-items: center;
            .Part1{
                height:174px;
                line-height: 100%;
                text-align: center;
            }
            .Part2{
                width:550px;
                height:64px;
                font-style: Regular;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: -2%;
                text-align: center;
            }
        }
        .Btn-free-trial{
            width:218px;
            height:59px;
        }
        .contact{
            width:367px;
            height:32px;
            font-family: Inter;
            font-weight: 400;
            font-style: Regular;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: -2%;
            text-align: center;
        }
        .Logos{
            display:flex;
            flex-direction:row;
            width:260px;
            height:60px;
            gap:40px;
            img{
                width:60px;
                height:60px;
                object-fit: contain;
            }
        }
    }
}
.Footer{
    display:flex;
    align-items: center;
    justify-content: center;
    width:1920px;
    height:474px;
    padding:140px 220px 32px 220px;
    gap:200px;
    box-sizing: border-box;
    background-color: #043873;
    color:#FFFFFF;
    position: relative;
    .line{
        width:1480px;
        height:1px;
        background-color: #2E4E73;
        position: absolute;
        z-index: 1;
        top:80%;
    }
    .Content{
        display:flex;
        flex-direction: column;
        width:1480px;
        height:302px;
        gap:100px;
        .Info{
            width:1480px;
            height:182px;
            display:flex;
            flex-direction:row;
            gap:100px;
            align-items:start;
            .logodescription{
                display:flex;
                flex-direction: column;
                width:205.25px;
                height:169px;
                gap:15px;
                align-items: start;
                .logo{
                    justify-content: start;
                }
                .desc{
                    font-family: Inter;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -2%;
                }
            }
            .info{
                display:flex;
                flex-direction: column;
                width:205.25px;
                height: 100%;
                gap: 16px;
                align-items: start;
                .p1{
                font-family: Inter;
                font-weight: 700;
                font-style: Bold;
                font-size: 18px;
                line-height: 100%;
                letter-spacing: -2%;
                }
                .p2{
                    font-family: Inter;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: -2%;
                }
            }
            .Heading{
                width:259px;
                height:182px;
                gap:23px;
                display: flex;
                flex-direction: column;
                align-items: start;
                .part1{
                    width:155px;
                    height:36px;
                    font-family: Inter;
                    font-weight: 700;
                    font-style: Bold;
                    font-size: 28px;
                    line-height: 36px;
                    letter-spacing: -2%;
                    color:#FFFFFF
                }
                .part2{
                    width:259px;
                    height:40px;
                    font-family: Inter;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: -2%;
                    color:#FFFFFF
                }
                .Btn-free-trial{
                    width:186px;
                    height:60px;
                }
            }
        }
        .Btm{
            width:1480px;
            height:20px;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            .tnc{
                width:737px;
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                .lang{
                    gap:6px;
                    display:flex;
                    flex-direction: row;
                    align-items: center;
                    img{
                       height:20px;
                       object-fit: contain;
                    }
                    .text{
                        width:53px;
                       font-family: Inter;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 16px;
                        line-height: 20px;
                        letter-spacing: -2%;
                    }
                    
                }
                .text{
                    font-family: Inter;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 16px;
                        line-height: 20px;
                        letter-spacing: -2%;
                }
            }
            .social{
                width:105px;
                height:16.88px;
                display:flex;
                justify-content: space-between;
                align-items:center;
                img{
                    object-fit: contain;
                }
            }
        }
    }
    

}





