body{
    margin:0;
    padding:0;
}
header {
  width: 1920px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 220px;
  background-color: #043873;
  box-sizing: border-box;
}

.logo{
    width: 191px;  
    height:34px;  
    height: fit-content;  
    justify-content:space-between;
    angle: 0 deg;
    opacity: 1;
}

.navbar{
    width: 988.5px;
    min-height: 60px;
    height: fit-content;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    angle: 0 deg;
    opacity: 1;
}
.Nav-menu{
    width: 551.5;
    height: 24;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    angle: 0 deg;
    opacity: 1;
}

/* Products container */
.products {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 117px;
  height: 24px;
}

/* Text */
.products-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  white-space: nowrap;
}

/* Down arrow container */
.down-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 24px;
}


.down-arrow img {
  width: 9px;
  height: 4px;
}
.Solutions{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 118px;
  height: 24px;
}


.Resources{
width: 128px;
height: 24px;
gap: 10px;
display:flex;
flex-direction:row;
angle: 0 deg;
opacity: 1;

}
.Pricing{width: 97px;
height: 24px;
gap: 10px;
display:flex;
    flex-direction:row;
angle: 0 deg;
opacity: 1;


}

.Btn{
    width: fit-content;
height: fit-content;
gap: 24px;
display:flex;
    flex-direction:row;

angle: 0 deg;
opacity: 1;

}

.Btn-login{
    width: 126px;
height: 60px;
gap: 10px;
display: flex;
justify-content: center;
align-items: center;
angle: 0 deg;
opacity: 1;
border-radius: 8px;
background-color: #FFE492;
}
.Btn-free-trial{
    width: 227px;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
angle: 0 deg;
opacity: 1;
border-radius: 8px;
background-color: #4F9CF9;
}

.btn1{
    width: fit-content;
height: fit-content;
angle: 0 deg;
opacity: 1;
font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 18px;
leading-trim: NONE;
line-height: 23px;
letter-spacing: -2%;
color: #043873;
}
.btn2{
    width: fit-content;
height: fit-content;
angle: 0 deg;
opacity: 1;
font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 18px;
leading-trim: NONE;
line-height: 23px;
letter-spacing: -2%;
color: #FFFFFF;
}

.icon {
  width: 10px;
  height: 10px;
  overflow: hidden;      
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;   
  display: block;        
}

.hero {
  
  width: 1920px;
  height: 829px;
  position: relative;
  overflow: hidden;
  background-color: #043873;
  padding: 140px 220px;
  box-sizing: border-box;
}
.hero-bg {
  position: absolute;
  width: 2651.8px;
  height: 547px;
  opacity: 0.3;
  top: 25%;
  left: 69%;
  transform: translateX(-50%);
  z-index: 0;
}

.hero-content {
    position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  
}

.hero-text {
  width: 656px;
  height:361px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.heropart1{
   width: 656px; 
   height: 238px;
   display: flex;
   flex-direction: column;
   gap: 24px;
  }
.heading{
    width: 656px;
height: 154px;
angle: 0 deg;
opacity: 1;

font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 64px;
line-height: 100%;
letter-spacing: -2%;
color: #FFFFFF;

}

.heropart1 p{
    width: 656px;
height: 60px;
angle: 0 deg;
opacity: 1;

font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 30px;
letter-spacing: -2%;
color: #FFFFFF;
}

.hero-image {
  width: 824px;
  height: 549px;
  background-color: #C4DEFD;
}


.Btn-free-trial1{
    width: 219px;
height: 63px;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
angle: 0 deg;
opacity: 1;
border-radius: 8px;
background-color: #4F9CF9;
}

.project-management{
width: 1920px;
height: 1588px;
padding-top: 140px;
padding-right: 220px;
padding-bottom: 140px;
padding-left: 220px;
gap: 100px;
box-sizing: border-box;
display: flex;
flex-direction: column;
position: relative;
overflow: hidden;   
    .content{
        display: flex;
        position: relative;
        z-index: 1;
        height:547px;
        align-items: center;
        gap: 60px;
        
        .headline{
            width: 672px;
            height:411px;
            display:flex;
            flex-direction: column;
            gap:60px;
            align-items: start;
            .Text-block{
                display:flex;
                height:288px;
                flex-direction: column;
                align-items: start;
                gap:24px;
                    h2{
                        height:174px;
                        position: relative;
                        display: inline-block;
                        font-family: 'Inter', sans-serif;
                        font-weight: 700;
                        font-size: 72px;
                        line-height: 87px;
                        letter-spacing: -0.02em;
                        color: #212529;
                        margin: 0;
                            img{
                                position: absolute;
                                left: 0;
                                z-index:-1;
                                bottom: -6px;
                                width: 95%;
                            }
                        
                    }
                    p{
                        height:90px;
                         font-family: 'Inter', sans-serif;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 30px;
                            letter-spacing: -0.02em;
                            color: #212529;
                            margin: 0; 
                    }
            }
        }
        .image-container{
            width: 748px;
            height: 547px;
            background-color:#C4DEFD;
        }
    }

    .content2{
        display: flex;
        height:661px;
        align-items: center;
        gap: 100px;
        img{
           object-fit: contain;
           overflow: hidden;
        }
        .headline2{
            height:294px;
            width:670px;
            display: flex;
            flex-direction:column;
            align-items: start;
            gap:60px;
            .Text-block2{
                display:flex;
                width:670px;
                height:171px;
                flex-direction: column;
                align-items: start;
                gap:24px;
                h2{
                        height:87px;
                        position: relative;
                        display: inline-block;
                        font-family: 'Inter', sans-serif;
                        font-weight: 700;
                        font-size: 72px;
                        line-height: 87px;
                        letter-spacing: -0.02em;
                        color: #212529;
                        margin: 0;
                            img{
                                position: absolute;
                                right:-130px;
                                z-index:-1;
                                bottom: 5px;
                                width: 85%;
                            }
                        
                    }
                    p{
                        height:60px;
                         font-family: 'Inter', sans-serif;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 30px;
                            letter-spacing: -0.02em;
                            color: #212529;
                            margin: 0; 
                    }
            }
        }
    }
    
}
.work-bg{
  position: absolute;
  width:602.84px;
  height:448.52px;
  opacity: 0.2;
  top:260px;
  left:-2px;
  z-index: 0;
}
.Extention{
    width:1921px;
    height:759px;
    padding: 140px 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #043873;
    box-sizing: border-box;
    gap:98px;
    .headline2{
            height:294px;
            width:697px;
            display: flex;
            flex-direction:column;
            align-items: start;
            gap:60px;
            .Text-block2{
                display:flex;
                width:697px;
                height:171px;
                flex-direction: column;
                align-items: start;
                gap:24px;
                h2{
                        height:87px;
                        position: relative;
                        display: inline-block;
                        font-family: 'Inter', sans-serif;
                        font-weight: 700;
                        font-size: 72px;
                        line-height: 87px;
                        letter-spacing: -0.02em;
                        color: #ffffff;
                        margin: 0;
                        z-index: 0;
                        img{
                            position: absolute;
                                z-index:-1;
                                left:42%;
                                width:85%;
                                bottom: 5%;
                        }
                    }
                    p{
                        height:60px;
                         font-family: 'Inter', sans-serif;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 30px;
                            letter-spacing: -0.02em;
                            color: #ffffff;
                            margin: 0; 
                    }
            
            }
        }
        .image-container{
            width:686px;
            height:479px;
            background-color: #C4DEFD;
        }
}


.Customize{
    width:1921px;
    height:812.09px;
    padding: 140px 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    gap:98px;
    .headline{
            height:441px;
            width:669px;
            display: flex;
            flex-direction:column;
            align-items: start;
            gap:60px;
            .Text-block{
                display:flex;
                width:669px;
                height:288px;
                flex-direction: column;
                align-items: start;
                gap:24px;
                h1{
                        height:174px;
                        position: relative;
                        display: inline-block;
                        font-family: 'Inter', sans-serif;
                        font-weight: 700;
                        font-size: 75px;
                        line-height: 87px;
                        letter-spacing: -0.02em;
                        color: #000;
                        margin: 0;
                        z-index: 0;
                        img{
                            position: absolute;
                                z-index:-1;
                                bottom:0%;
                                left:0%;
                        }
                    }
                    p{
                        height:90px;
                         font-family: 'Inter', sans-serif;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 30px;
                            letter-spacing: -0.02em;
                            color: #000;
                            margin: 0; 
                    }
            
            }
        }
        .image-container{
            width:714px;
            height:532.09px;
            background-color: #C4DEFD;
        }
}
.Btn-free-trial3{
    width: 171px;
height: 63px;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
angle: 0 deg;
opacity: 1;
border-radius: 8px;
background-color: #4F9CF9;
}



.pricingplan{
    width:1920px;
    height:1272px;
    display:flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    padding:140px 220px;
    box-sizing: border-box;
    .headline{
        width:1481px;
        height:171px;
        display:flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        h1{
            height:87px;
            position: relative;
            display: inline-block;
            font-family: 'Inter', sans-serif;
                        font-weight: 700;
                        font-size: 72px;
                        line-height: 87px;
                        letter-spacing: -0.02em;
                        color: #000;
                        margin: 0;
                        z-index: 0;
                        img{
                            position: absolute;
                            z-index:-1;
                            left:48%;
                            bottom:0%;
                            width:80%;
                        }
                    }
                    p{
                        align-self: center;
                        text-align: center;
                        width:979px;
                        height:60px;
                         font-family: 'Inter', sans-serif;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 30px;
                            letter-spacing: -0.02em;
                            color: #000;
                            margin: 0; 
                    }
        
    }

    .plan{
        width: 1481px;
        height:761;
        gap:32px;

        display: flex;
        align-items: center;
        .plan1{
            width: 472.33px;
            height: 634px;
            border: 1px solid #FFE492;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: start;
            padding:40px 44px;
            gap:25px;
            box-sizing: border-box;
            .price{
                width: 384.3333435058594px;
                height:153px;
                gap: 25px;
                display:flex;
                flex-direction: column;
                align-items: start;
                .type{
                    
                    width: 384.3333435058594px;
                    height: 36px;
                    font-family: Inter;
                    font-weight: 600;
                    font-style: Semi Bold;
                    font-size: 24px;
                    letter-spacing: 0%;
                    color: #212529;
                }
                .type2{
                    width: 384.3333435058594px;
                    height:44px;

                    opacity: 1;
                    font-family: Inter;
                    font-weight: 700;
                    font-style: Bold;
                    font-size: 36px;
                    letter-spacing: -2%;
                    color: #212529;
                }
                .type3{
                    width: 384.3333435058594px;
                    height: 23px;
                    opacity: 1;
                    font-family: Inter;
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 18px;
                    letter-spacing: -2%;
                    color: #212529;
                }
            }

        }
        .plan2{
            width: 472.3333435058594px;
            height: 761px;
            padding:80px 44px;
            gap: 25px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: start;
            background-color: #043873;
            box-shadow: 0px 4px 50px 0px #00000014;
            box-sizing: border-box;
        }
    }

}


